/* on appelle les polices d'ecriture*/ 

@font-face {
  font-family: 'hackregular';
  src: url('./font/hack-regular-webfont.woff2') format('woff2'),
       url('./font/hack-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
@import url(https://fonts.googleapis.com/css?family=Noto+Sans);
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* balises generales*/ 
html{
  --main-background-color:#1D1C24;
  --main-text-color:#FFFFFF;
}
body{
  height: 100vh;
  background: var(--main-background-color);
}
.container{
  width: 80%;
  max-width: 1280px;
  height: auto;
  margin: auto;
  padding-top: 50px;
  color: var(--main-text-color);
  font-family: "Montserrat";
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  
}


.container h1{
  text-align: center;
  padding: 20px;
}

.container p{
  text-align: justify;
  
}
.bleu{
  color: #0088a9;
}




/* Barre de navigation */
.navigation {
  height: 70px;
  background: #24252a;
  font-family: "Montserrat";
  font-weight: 500;
}

.brand {
  position: absolute;
  padding-left: 20px;
  float: left;
  line-height: 70px;
  text-transform: uppercase;
  font-size: 1.4em;
}
.brand a,
.brand a:visited {
  color: #ffffff;
  text-decoration: none;
}

.nav-container {
  max-width: 1000px;
  margin: 0 auto;
}

nav {
  float: right;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  float: left;
  position: relative;
}
nav ul li a,
nav ul li a:visited {
  display: block;
  padding: 0 20px;
  line-height: 70px;
  background: #24252a;
  color: #ffffff;
  text-decoration: none;
}
nav ul li a:hover,
nav ul li a:visited:hover {

  color: #0088a9;
}
nav ul li a:not(:only-child):after,
nav ul li a:visited:not(:only-child):after {
  padding-left: 4px;
  content: " ▾";
}
nav ul li ul li {
  min-width: 190px;
}
nav ul li ul li a {
  padding: 15px;
  line-height: 20px;
}

.nav-dropdown {
  position: absolute;
  display: none;
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

/* Mobile navigation */
.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: #24252a;
  height: 70px;
  width: 70px;
}

@media only screen and (max-width: 798px) {
  .nav-mobile {
    display: block;
  }

  nav {
    width: 100%;
    padding: 70px 0 15px;
  }
  nav ul {
    display: none;
  }
  nav ul li {
    float: none;
  }
  nav ul li a {
    padding: 15px;
    line-height: 20px;
  }
  nav ul li ul li a {
    padding-left: 30px;
  }

  .nav-dropdown {
    position: static;
  }
}
@media screen and (min-width: 799px) {
  .nav-list {
    display: block !important;
  }
}
#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
}
#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 3px;
  width: 35px;
  background: #ffffff;
  position: absolute;
  display: block;
  content: "";
  transition: all 300ms ease-in-out;
}
#nav-toggle span:before {
  top: -10px;
}
#nav-toggle span:after {
  bottom: -10px;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
}

article {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}
/* Page d'accueil*/
.element{
  display: flex;
  
}
.C1{
  flex: 2;
  margin: 0 30px;
  display: flex;
  flex-direction: column;
}
.C1 .L1{
  margin-top: calc( 1em + 2px) ;
}

.C1 .L2{
  margin-top: 10%;
}

.C1 .L3{
  margin-top: 5%;
}

.C2{
  width: 40%;
  flex: 1;
}
.C2 .L1{
  margin-bottom: 2px;
}
.C2 .L2{
  width: 70%;
}

/* page projet*/

.container a {
  text-decoration: none;
  color: #0088a9;
}
.container a:hover{
  text-decoration: underline;
}
.container_resume{

  padding: 50px;
  
}

.container_66{

  padding: 10px;
  box-sizing: border-box;
}

.container_33{

  padding: 10px;
  box-sizing: border-box;

}
.container_33 img{
  width: auto;
  border: #515247 0.2em;
  height: 300px;
}
header{
  width: 600px;
  margin: auto;
}
.container_33{
  width: 33%;
}
.container_66{
  width: 66%;
}
.left{
  float: left;
}

.right{
  float: right;
}
.container_resume{
  display: inline-block;
}
.container_resume img {
  max-width: 100%;
  height: auto;
}
#usa-img{
  max-width: 60%;
  
}

/*Page Parcours */
.container-parcours{
  width: 100%;
  height: auto;
  margin: auto;
  padding-top: 50px;
  color: var(--main-text-color);
  font-family: "Montserrat";



  
}

.container-parcours h1{
  text-align: center;
  padding: 20px;
}

.container-parcours p{
  text-align: justify;
}
.timeline:before {
  content: "";
  position: absolute;
  top: 260px;
  left: 50%;
  height: 1900px;
  transform: translateX(-50%);
  width: 4px;
  background-color: #fff;
}
.timeline .entries {
  width: calc(100% - 80px);
  max-width: 800px;
  margin: auto;
  position: relative;
  left: -5px;
}
.entries .entry {
  width: calc(60% - 80px);
  float: left;
  padding: 60px;
  clear: both;
  text-align: right;
}
.entries .entry:not(:first-child) {
  margin-top: -60px;
}
.entries .entry .title {
  font-size: 32px;
  margin-bottom: 12px;
  position: relative;
  color: #fff;
}
.entries .entry .title:before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  border: 4px solid #0088a9;
  background-color: #24252a;
  border-radius: 100%;
  top: 50%;
  transform: translateY(-50%);
  right: -73px;
  z-index: 1000;
}
.entries .entry:nth-child(2n) {
  text-align: left;
  float: right;
}
.entries .entry:nth-child(2n) .title:before {
  left: -63px;
}

.entries .entry .body {
  color: #aaa;
}
.entries .entry .body p {
  line-height: 1.4em;
}


/* Page Contact */
.container_contact{
  position: relative;
  width: 100%;
  min-height: 100vh;

  background-color: #fff;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  width: 100%;
  max-width: 820px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.contact-form {
  background-color: #FFDDBC;
  position: relative;
}



.contact-form:before {
  content: "";
  position: absolute;
  width: 26px;
  height: 26px;
  background-color: #FFDDBC;
  transform: rotate(45deg);
  top: 50px;
  left: -13px;
}

form {
  padding: 2.3rem 2.2rem;
  z-index: 10;
  overflow: hidden;
  position: relative;
}

.title {
  color: #000;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1;
  margin-bottom: 0.7rem;
}

.input-container {
  position: relative;
  margin: 1rem 0;
}

.input {
  width: 100%;
  outline: none;
  border: 2px solid #000;
  background: none;
  padding: 0.6rem 1.2rem;
  color: #000;
  font-weight: 500;
  font-size: 0.95rem;
  letter-spacing: 0.5px;
  border-radius: 25px;
  transition: 0.3s;
}

textarea.input {
  padding: 0.8rem 1.2rem;
  min-height: 150px;
  border-radius: 22px;
  resize: none;
  overflow-y: auto;
}

.input-container label {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  padding: 0 0.4rem;
  color: #000;
  font-size: 0.9rem;
  font-weight: 400;
  pointer-events: none;
  z-index: 1000;
  transition: 0.5s;
}

.input-container.textarea label {
  top: 1rem;
  transform: translateY(0);
}

.btn {
  padding: 0.6rem 1.3rem;
  background-color: #fff;
  border: 2px solid #fff;
  font-size: 0.95rem;
  color: #000;
  line-height: 1;
  border-radius: 25px;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  margin: 0;
}

.btn:hover {
  background-color: transparent;
  color: #fff;
}

.input-container span {
  position: absolute;
  top: 0;
  left: 25px;
  transform: translateY(-50%);
  font-size: 0.8rem;
  padding: 0 0.4rem;
  color: transparent;
  pointer-events: none;
  z-index: 500;
}

.input-container span:before,
.input-container span:after {
  content: "";
  position: absolute;
  width: 10%;
  opacity: 0;
  transition: 0.3s;
  height: 5px;
  background-color: #FFDDBC;
  top: 50%;
  transform: translateY(-50%);
}

.input-container span:before {
  left: 50%;
}

.input-container span:after {
  right: 50%;
}

.input-container.focus label {
  top: 0;
  transform: translateY(-50%);
  left: 25px;
  font-size: 0.8rem;
}

.input-container.focus span:before,
.input-container.focus span:after {
  width: 50%;
  opacity: 1;
}

.contact-info {
  padding: 2.3rem 2.2rem;
  position: relative;
}

.contact-info .title {
  color: #FFDDBC;
}

.text {
  color: #000;
  margin: 1.5rem 0 2rem 0;
}

.information {
  display: flex;
  color: #000;
  margin: 0.7rem 0;
  align-items: center;
  font-size: 0.95rem;
}
.information a {
  text-decoration: none;
  color: #000;
}

.icon {
  width: 28px;
  margin-right: 0.7rem;
}

.social-media {
  padding: 2rem 0 0 0;
}

.social-media p {
  color: #333;
}

.social-icons {
  display: flex;
  margin-top: 0.5rem;
}

.social-icons a {
  width: 35px;
  height: 35px;
  border-radius: 5px;
  background: #FFDDBC;
  color: #fff;
  text-align: center;
  line-height: 35px;
  margin-right: 0.5rem;
  transition: 0.3s;
}

.social-icons a:hover {
  transform: scale(1.15);
}




/* Footer */
footer{
  background: #24252a;
  height: auto;
  width: auto;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  position: relative;
  top: 150px;
  margin: 0;
  
}
.footer-bottom{
  padding: 20px 0;
  text-align: center;
}
.footer-bottom p{
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.footer-bottom a{
  text-decoration: none;
  color:#fff;
  opacity: .4;
  
}
.footer-bottom a:hover{
  text-decoration: underline;
}

/* le terminal*/

.console {
  
	position: relative;
	width: 60%;
  top: 100px;
	height: auto;
  margin-left: 20%;
	overflow: hidden;
	padding: 10px;
	box-sizing: border-box;
  border:#111 solid 2px;
  border-radius: 15px;
  background: #24252a;
  font-family: 'hackregular';
}
.output {
  height: 20px;
	width: 100%;
	font-size: 14px;
	color: #cccccc;
}
.console span {
    line-height: 20px;
    width: 100%;
    display: block;
    
    float: left;
    color: white;
  }


.action {
  width: 100%;
  height: 15px;
  font-size: 14px;
  margin-top: 5px;
  box-sizing: border-box;
}
.admin{
  width: calc(auto + 1em);
  float: left;
  color: white;
  font-family: 'hackregular';
}
.action textarea {
  width: 80%;
  float: left;
  background: none;
  border: 0px black;
  color: white;
  overflow: hidden;
  padding-top: 2px;
  padding-left: 1em;
  margin: 0;
  resize: none;
  font-family: inherit;
}
textarea:focus {
  outline: none;
}

/* Partie générale pour que le site s'adapte à tous les ecrans */
@media only screen and (max-width: 800px) {
  .nav__links,
  .cta {
    display: none;
  }
  .menu {
    display: initial;
  }
  .console{
    width: 80%;
    margin-left: 10%;
  }
  .element{
    flex-direction: column;
  }
  .C2 {
    margin-top: 30px;
    width: 70%;
    text-align: center;
  }
  /* page parcour*/
  .timeline:before{
    display: none;
  }
  .entries .entry:nth-child(2n) {
    text-align: left;
    float: left;
  }
  .entries .entry:nth-child(2n) .title:before {
    left: calc(100% + 63px);
  }
  .entries .entry{
    width: 90%;
    padding: 10%;
  }
  /*page gout, voyages et info*/
  .container_33, .container_66 {
    width: 100%;
    float: none;
  }
  .container_resume{
    display: block;
    padding: 10px;

  }
  .container_resume img {
    max-width: 60%;
    height: auto;
  }
}

@media screen and (max-width: 425px) {
  .container{
    width: 100%;
    margin: 0px;
    padding: 0;
  }
  .container h1{
    font-size: 25px;
    margin: 0px;
    padding-top: 30px;
  }
  .container h2{
    font-size: 20px;
    margin: 0px;
    padding: 0;
  }
  .container .intro{
    margin: 5% ;
  }
  .overlay a {
    font-size: 20px;
  }
  .overlay .close {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
  .console{
    width: 90%;
    margin-left: 5%;
  }
  .entries .entry{
    width: 100%;
    padding: 0px;
    margin: 10px 5% 10% 5%;
    font-size: 0.8em;
  }
  .entries .entry .body{
    padding: 0 0 10px 0;
  }
  .container-parcours{

    
    margin: 0;
  }
  .container_33 img{
    margin: 0 20% 0 20%;
  }

  
}


